@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.colors{
  background: linear-gradient(to right,#cb3066, #16bffd, #cb3066, #16bffd, #cb3066, #16bffd, #cb3066); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: animate 10s linear infinite;
}
/*!   NAV  */

nav{
  background: linear-gradient(#000000, rgb(0, 0, 0, 0));
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: 0.3s ;
}
nav a{
text-decoration: none;
margin-left: 50px;
color: #ffff;
font-family: 'Open Sans Condensed', sans-serif;
letter-spacing: .16667em;
line-height: 1.29167em;
position: relative;
}
nav a::after{
content: '';
position: absolute;
background-color: #395981;
height: 2px;
width: 0;
left: 0;
bottom: -5px;
transition: 0.3s;
}
nav a:hover::after{
width: 100%;
}
nav a:last-of-type{
margin-right: 30px;
}
.menu-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  gap: 1px;
}
.menu-mobile:hover{
  gap: 7px;
}
.menu-mobile i{
  font-size: 15px;
}

/* HAMBURGUER */
.hamburguer{
display: none;

}
.hamburguer a{
color: #fff;
text-decoration: none;
font-size: 30px;
font-weight: 900px;

}


/*! boton de buscar  */
/*  search box */
.search-box{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Lato';
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 30px;
  width: 30px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: rgb(255, 255, 255);
  padding-right: 40px;
}
.input-search::placeholder{
  color:rgba(255, 255, 255, 0.653);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 25px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus{
  color: #ffff;
}
.btn-search:focus ~ .input-search{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255, 255, 255, 0.612);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 210px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255, 255, 255, 0.792);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*! menu desplegable  */
/* The side navigation menu */
.sidenav {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left:  0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  overflow-x: hidden;
  background-color: #f2f2f2;
  box-shadow: 5px 0px 200px rgb(86, 86, 86);
  text-align: center;
}
/* Position and style the close button (top right corner) */

.overlay{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left:  0;
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.434);
}
.sidenav{
  display: grid;
  grid: repeat(1, 100vw) / repeat(4, 1fr);
}
.tab{
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: relative;
}
.tablink{
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 12px 10px;
  height: fit-content;
  clip-path: polygon(100% 0, 100% 42%, 93% 51%, 100% 59%, 100% 100%, 0 100%, 0 0);
}

.tablink a{
  text-decoration: none;
color: #333333;
  font-size: 10px;
  z-index: 10;
  font-weight: 500;
  font-family: "Poppins",sans-serif;
}
.tab i{
  font-size: 18px;
}

@keyframes animate{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.content{
  background-color: #fff;
  grid-column: 2/ 5;
  height: 100vh;
  width: 100%;

}
.moreContent{
  top: 0;
  left: 90px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.moreContent i{
  font-size: 10px;
  padding-right: 10px;
  position: relative;
  bottom: 2px;
}
.moreContent a{
  color: red !important;
  font-size: 17px;
  
}
.tabcontent ul{
  display: grid;
  grid: repeat(1, 100%) / repeat(auto);
  font-size: 14px;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}
.tabcontent ul li{
  border-bottom: 0.5px solid #8282824c;
  padding: 20px ;
  width: 100%;
  font-weight: 800;
  text-align: left;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.tabcontent ul li a{
  color: #555555;
  letter-spacing: 1px;
  line-height: 22px;
  text-decoration: none;
}
.tabcontent span{
  color: #555555; 
}
#Coleccion {background-color: #fff;}
#Catalogo{background-color: #ffff;}
#Nosotros {background-color: #fff;}

/*! HEADER  */
header{
  background: url(img/jeans-5394561_960_720.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 700px;
  width: 100%;
  margin: 0 auto;
  margin-top: -65px;
  overflow: hidden;
}
.div{
clip-path: polygon(0 7%, 0 0, 7% 0, 100% 93%, 100% 100%, 93% 100%);
background-color: #eeeeee;
width: 100%;
height: 100%; 
display: flex;
justify-content: center;
align-items: center;
}
.div h1{
text-align: center;
color: #000;
font-size: 50px;
z-index: 10000;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
font-size: 3rem;
letter-spacing: .16667em;
}
.words{
  overflow: hidden;
}
.wraper{
box-sizing: content-box;
  height: 70px;
  padding: 50px 30px;
  display: flex;
  border-radius: 8px;
  transform: rotate(28.5deg);
  text-align: left;
  text-transform: uppercase;
}
.wraper span{
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
font-size: 3rem;
letter-spacing: .16667em;

  display: block;
  height: 100%;
  padding-left: 10px;
  color: #0e6ffc;
  animation: spin_words 6s infinite;
}
@keyframes spin_words{
10%{
    transform: translateY(-112%);
}
25%{
    transform: translateY(-100%);
}
35%{
    transform: translateY(-212%);
}
50%{
    transform: translateY(-200%);
}
60%{
    transform: translateY(-312%);
}
75%{
    transform: translateY(-300%);
}
85%{
    transform: translateY(-412%);
}
100%{
    transform: translateY(-400%);
}
}

/*! WAHTSAP  */
 .wpp{
   position: fixed;
   width: 55px;
   height: 55px;
   right: 20px;
   bottom: 30px;
   border-radius: 50%;
   background-color: #25D366;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100000;
 }

 .wpp i{
   position: sticky;
   font-size: 40px;
   color: white;
 }
/*! MAIN  */

  main{
    margin-top: -20px;
    padding-top: 40px;
  height: auto;
  overflow: hidden;
  background-color: #eeeeee;
}
/*! new droping */


.new-dropin{
 display: flex;
justify-content: space-evenly;
 height: fit-content;
 width: 90vw;
 margin: 0 auto ;
}
.new-dropin > div{
  padding: 15px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgba(66, 66, 66, 0.642)
}
.content-figure{
  height: auto;
 display: grid;
  grid: repeat(2, 1fr) / repeat(2, 1fr); 
}
.new-dropin div h4{
  width: fit-content;
  font-family: "Poppins",sans-serif;
  color: #333333;
  font-size: 20px;
  margin-bottom: 10px;
}
.new-dropin figure{
  text-align: center;
  margin: 5px;
  width: fit-content;
}
.new-dropin figure img{
width: 170px;
height:150px;
}

.new-dropin > div a{
  color: #333333;
  text-decoration: none;
  padding: 10px;

}
.new-dropin > div i{
  padding: 10px;
  font-size: 15px;
}

/*! FOOTER */
footer{
  height: 200px;
  width: 100vw;
  color: #fff;
  background:#000;
}

/*! MEDIA QUERIES */
@media screen and (max-width: 1300px) {
  
  .new-dropin > div:last-of-type{
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  nav a{
    margin-left: 20px;
  }
  .hamburguer {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
nav a:nth-child(3),
nav a:nth-child(4),
nav a:nth-child(5){
  display: none;
}
nav a:nth-child(1):after,
nav a:nth-child(2):after{
  background-color: transparent;
}
.words{
  width: 100vw;
}
.wraper{
  transform: rotate(52.5deg);
  height: 42px;
  padding: 30px 0px;
  width: fit-content;
}
.wraper h1{
  width: 80%;
  font-size: 30px;
}
.wraper span{
  text-transform: uppercase;
  font-size: 30px;
  padding: 0px;
}
header{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}
/* 
.new-dropin{
  width: 100vw;
  height: 500px;
}
.new-dropin div{
  display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

}
.new-dropin figure{
  margin: 5px;
}
.new-dropin figure img{
width: 170px;
height:150px;
} */
}
@media screen and (max-width: 883px) {
  .new-dropin{
width: 95vw;
flex-direction: column;
  }
  .new-dropin >div{
    text-align: right;
    margin-bottom: 30px;
    box-shadow: none;
  
  }
  .content-figure{
    height: auto;
   display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr); 
   
  }
  .new-dropin figure img{
    width: 150px;
    height:130px;
    }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  header{
    height: 500px;
  }
  /* .div{
    transform: rotate(-10deg);
  } */
}
